@charset 'utf-8';
@import '../../../common/sass/base';

.content-navigation-bar{
    height: $page_navigation_height;
    padding: .5rem;
    padding-left: $page_navigation_height;
    background-color: $web_background;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    box-shadow: 0 .1rem .05rem .05rem $color_shadow;
    transition: left .2s ease-in-out;
    z-index: $sub_page_depth;
    
    .toggle-lev-nav{
        width: $page_navigation_height;
        height: $page_navigation_height;
        transition: transform .2s ease-in-out;
        font-size: 1.4rem;
        padding: 0;
        position: absolute;
        left: 0;
        top: 0;
    }
    
    .mirror{
        transform: rotate(90deg);
    }
    
    .navigation-title{
        width: 40%;
        height: $page_navigation_height - 1rem;
        font-size: .85rem;
        font-weight: normal;
        line-height: $page_navigation_height - 1rem;
        float: left;
    }
    
    .navigation-tool{
        width: 60%;
        height: $page_navigation_height - 1rem;
        text-align: right;
        line-height: $page_navigation_height - 1rem;
        padding-right: .5rem;
        float: right;
    }
    .base-tool{
        float: right;
    }

    .drop-down-tool{
        display: inline;
        float: right;

        .ivu-dropdown-rel{
            display: flex;
            align-items: center;

            img{
                width: 1.6rem;
                height: 1.6rem;
                object-fit: cover;
                border-radius: 50%;
                margin-right: .1rem;
            }
        }
    }
}